<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
    class="ro.sync.exml.plugin.Plugin"
    id="web-author-fixAltCodes-plugin"
    name="Web Author Alt Codes Fix Plugin"
    description="Plugin that provides a fix for inserting special characters via alt codes."
    version="0.1"
    vendor="SyncroSoft SRL">  
</plugin>
